<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css"
    />
  </head>
  <body class="bg-gray-100">
    <%- include ("./layout/navbar.ejs") %>

    <main class="container mx-auto px-6 py-6">
      <h1 class="text-3xl font-medium text-center text-gray-800">
        Welcome to Shop Easy
      </h1>
    </main>
    <%- include ("./layout/footer.ejs") %>


  </body>
</html>
