<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link
      rel="icon"
      type="image/x-icon"
      href="https://spng.pngfind.com/pngs/s/683-6835493_transparent-clipart-app-transparent-store-logo-png-png.png"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css"
    />
  </head>
  <body class="bg-gray-100">
    <header class="bg-white border-b border-gray-200">
      <nav
        class="container mx-auto flex items-center justify-between px-6 py-3"
      >
        <a href="/" class="text-lg font-medium text-gray-800">Shop Easy</a>
        <div class="flex items-center">
          <a
            href="/"
            class="px-3 py-2 rounded-md text-sm font-medium text-gray-600 hover:text-gray-800 hover:bg-gray-100"
            >Home</a
          >
          <a
            href="../prodotto/getAll"
            class="px-3 py-2 rounded-md text-sm font-medium text-gray-600 hover:text-gray-800 hover:bg-gray-100"
            >Products</a
          >
          <a
            href="../clienti/account"
            class="px-3 py-2 rounded-md text-sm font-medium text-gray-600 hover:text-gray-800 hover:bg-gray-100"
            >My Account</a
          >
          <a
            href="#"
            class="px-3 py-2 rounded-md text-sm font-medium text-gray-600 hover:text-gray-800 hover:bg-gray-100"
            >Cart</a
          >
        </div>
      </nav>
    </header>
  </body>
</html>
